# Data Collection

# Cars24

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings("ignore")

from webdriver_manager.chrome import ChromeDriverManager

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\HP\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [3]:
url = 'https://www.cars24.com/?utm_source=google&utm_medium=cpc&utm_campaign=brand&utm_source=google&utm_medium=adwords&utm_keyword=cars24&utm_matchtype=e&utm_device=c&adgroup_id=127158970287&campaign_id=1821263948&gclid=EAIaIQobChMI-JKC09Pi9gIVN5hmAh2wgwcSEAAYASAAEgItD_D_BwE&gclid=EAIaIQobChMI-JKC09Pi9gIVN5hmAh2wgwcSEAAYASAAEgItD_D_BwE'
driver.get(url)

In [4]:
cars=driver.find_element_by_xpath("/html/body/div[1]/div[5]/div/div/div[2]/button")
cars.click()

In [5]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,15000)")

In [7]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [8]:
Location = 'New Delhi'

In [9]:
df['Location'] = Location

In [10]:
df

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2014 Maruti Alto K10,VXI Manual,2014 Maruti Alto K10,Manual,"40,562 km",1st Owner,Petrol,"6,391/month","2,87,299",Zero downpayment,New Delhi
1,2015 Hyundai Grand i10,MAGNA 1.1 CRDI Manual,2015 Hyundai Grand i10,Manual,"62,491 km",2nd Owner,Diesel,"6,947/month","3,12,299",Zero downpayment,New Delhi
2,2014 Maruti Swift Dzire,VDI BS IV Manual,2014 Maruti Swift Dzire,Manual,"96,978 km",1st Owner,Diesel,"9,263/month","4,16,399",Zero downpayment,New Delhi
3,2015 Maruti Swift,VDI ABS Manual,2015 Maruti Swift,Manual,"44,638 km",1st Owner,Diesel,"9,621/month","4,32,499",Zero downpayment,New Delhi
4,2019 Maruti Alto K10,VXI Manual,2019 Maruti Alto K10,Manual,"10,395 km",1st Owner,Petrol,"9,503/month","4,27,199",Zero downpayment,New Delhi
...,...,...,...,...,...,...,...,...,...,...,...
772,2013 Toyota Innova,2.5 GX 7 STR BS IV Manual,2013 Toyota Innova,Manual,"63,967 km",1st Owner,Diesel,"14,666/month","6,59,299",Zero downpayment,New Delhi
773,2019 Hyundai Elite i20,1.2 MAGNA PLUS VTVT Manual,2019 Hyundai Elite i20,Manual,"25,371 km",1st Owner,Petrol,"14,283/month","6,42,099",Zero downpayment,New Delhi
774,2020 Ford Ecosport,1.5 AMBIENTE TDCI Manual,2020 Ford Ecosport,Manual,"32,965 km",1st Owner,Diesel,"17,088/month","7,68,199",Zero downpayment,New Delhi
775,2019 Renault Kwid,RXL Manual,2019 Renault Kwid,Manual,"17,515 km",2nd Owner,Petrol,"7,981/month","3,58,799",Zero downpayment,New Delhi
776,2018 Maruti Baleno,DELTA 1.2 K12 Manual,2018 Maruti Baleno,Manual,"23,091 km",1st Owner,Petrol,"13,547/month","6,08,999",Zero downpayment,New Delhi

In [11]:
loc=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc.click()

In [12]:
bengaluru=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[6]/span/img")
bengaluru.click()

In [13]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [14]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df1=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [15]:
Location = 'Bengaluru'

In [16]:
df1['Location'] = Location

In [17]:
df1

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2017 Renault Kwid,CLIMBER 1.0 Manual,2017 Renault Kwid,Manual,"20,888 km",1st Owner,Petrol,"8,916/month","4,00,799",Zero downpayment,Bengaluru
1,2018 Maruti Swift,ZDI AMT Automatic,2018 Maruti Swift,Automatic,"78,534 km",1st Owner,Diesel,"16,597/month","7,46,099",Zero downpayment,Bengaluru
2,2017 Hyundai Verna,1.6 SX VTVT Manual,2017 Hyundai Verna,Manual,"29,525 km",1st Owner,Petrol,"20,091/month","9,03,199",Zero downpayment,Bengaluru
3,2014 Maruti Swift,VXI Manual,2014 Maruti Swift,Manual,"51,290 km",1st Owner,Petrol,"10,978/month","4,93,499",Zero downpayment,Bengaluru
4,2017 Mahindra Scorpio,S6 PLUS Manual,2017 Mahindra Scorpio,Manual,"53,164 km",1st Owner,Diesel,"24,923/month","11,20,399",Zero downpayment,Bengaluru
...,...,...,...,...,...,...,...,...,...,...,...
433,2014 Maruti Alto K10,VXI Manual,2014 Maruti Alto K10,Manual,"65,951 km",2nd Owner,Petrol,"7,725/month","3,47,299",Zero downpayment,Bengaluru
434,2018 Maruti Eeco,7 STR Manual,2018 Maruti Eeco,Manual,"33,848 km",2nd Owner,Petrol,"9,298/month","4,17,999",Zero downpayment,Bengaluru
435,2015 Maruti Alto K10,VXI AMT Automatic,2015 Maruti Alto K10,Automatic,"42,556 km",2nd Owner,Petrol,"8,106/month","3,64,399",Zero downpayment,Bengaluru
436,2016 Maruti Alto K10,VXI (O) AMT Automatic,2016 Maruti Alto K10,Automatic,"29,240 km",1st Owner,Petrol,"9,231/month","4,14,999",Zero downpayment,Bengaluru
437,2014 Maruti Alto K10,VXI Manual,2014 Maruti Alto K10,Manual,"37,115 km",1st Owner,Petrol,"7,879/month","3,54,199",Zero downpayment,Bengaluru

In [18]:
loc1=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc1.click()

In [19]:
pune=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[5]/span/img")
pune.click()

In [20]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [21]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df2=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [22]:
Location = 'Pune'

In [23]:
df2['Location'] = Location

In [24]:
df2

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2015 Hyundai Elite i20,ASTA 1.4 CRDI Manual,2015 Hyundai Elite i20,Manual,"32,895 km",1st Owner,Diesel,"14,078/month","6,32,899",Zero downpayment,Pune
1,2018 Hyundai Verna,1.6 SX VTVT Manual,2018 Hyundai Verna,Manual,"33,340 km",2nd Owner,Petrol,"19,184/month","8,62,399",Zero downpayment,Pune
2,2016 Maruti Baleno,DELTA 1.2 K12 Manual,2016 Maruti Baleno,Manual,"28,361 km",2nd Owner,Petrol,"13,723/month","6,16,899",Zero downpayment,Pune
3,2013 Hyundai Grand i10,ASTA 1.2 VTVT Manual,2013 Hyundai Grand i10,Manual,"48,699 km",2nd Owner,Petrol,"9,000/month","4,04,599",Zero downpayment,Pune
4,2015 Maruti Baleno,ZETA 1.2 K12 Manual,2015 Maruti Baleno,Manual,"31,277 km",1st Owner,Petrol,"12,221/month","5,49,399",Zero downpayment,Pune
...,...,...,...,...,...,...,...,...,...,...,...
639,2017 Maruti Baleno,DELTA 1.2 K12 Manual,2017 Maruti Baleno,Manual,"56,956 km",1st Owner,Petrol,"13,580/month","6,10,499",Zero downpayment,Pune
640,2018 Maruti Swift,LXI Manual,2018 Maruti Swift,Manual,"23,414 km",2nd Owner,Petrol,"11,485/month","5,16,299",Zero downpayment,Pune
641,2017 Tata Tiago,XZ 1.2 REVOTRON Manual,2017 Tata Tiago,Manual,"40,091 km",1st Owner,Petrol,"11,436/month","5,14,099",Zero downpayment,Pune
642,2018 Maruti S Cross,ZETA 1.3 SHVS,2018 Maruti S Cross,,"58,448 km",2nd Owner,Diesel,"19,849/month","8,92,299",Zero downpayment,Pune
643,2019 Maruti Dzire,VXI Manual,2019 Maruti Dzire,Manual,"29,594 km",1st Owner,Petrol,"15,638/month","7,02,999",Zero downpayment,Pune

In [25]:
loc2=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc2.click()

In [26]:
mumbai=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[4]/span/img")
mumbai.click()

In [27]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [29]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df3=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [30]:
Location = 'Mumbai'

In [31]:
df3['Location'] = Location

In [32]:
df3

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2019 Maruti Baleno,ALPHA 1.2 K12 Manual,2019 Maruti Baleno,Manual,"9,489 km",1st Owner,Petrol,"17,684/month","7,94,999",Zero downpayment,Mumbai
1,2019 Mahindra XUV500,W11 (O) Manual,2019 Mahindra XUV500,Manual,"47,382 km",1st Owner,Diesel,"38,914/month","17,49,399",Zero downpayment,Mumbai
2,2017 Honda Jazz,1.2 S MT Manual,2017 Honda Jazz,Manual,"27,013 km",1st Owner,Petrol,"13,022/month","5,85,399",Zero downpayment,Mumbai
3,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2017 Hyundai Grand i10,Manual,"13,666 km",1st Owner,Petrol,"10,991/month","4,94,099",Zero downpayment,Mumbai
4,2016 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,2016 Hyundai Grand i10,Manual,"40,455 km",1st Owner,Petrol,"11,988/month","5,38,899",Zero downpayment,Mumbai
...,...,...,...,...,...,...,...,...,...,...,...
684,2019 Maruti Alto K10,VXI Manual,2019 Maruti Alto K10,Manual,"14,939 km",1st Owner,Petrol,"9,165/month","4,11,999",Zero downpayment,Mumbai
685,2018 Maruti Alto 800,LXI OPT Manual,2018 Maruti Alto 800,Manual,"10,430 km",1st Owner,Petrol,"7,258/month","3,26,299",Zero downpayment,Mumbai
686,2019 Hyundai Elite i20,1.2 ASTA (O) CVT Automatic,2019 Hyundai Elite i20,Automatic,"16,168 km",1st Owner,Petrol,"20,834/month","9,36,599",Zero downpayment,Mumbai
687,2014 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,2014 Hyundai Grand i10,Manual,"41,147 km",1st Owner,Petrol,"9,701/month","4,36,099",Zero downpayment,Mumbai
688,2019 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2019 Hyundai Grand i10,Manual,"10,153 km",1st Owner,Petrol,"11,874/month","5,33,799",Zero downpayment,Mumbai

In [33]:
loc3=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc3.click()

In [34]:
ahmedabad=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[10]/span/img")
ahmedabad.click()

In [35]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [36]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df4=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [37]:
Location = 'Ahmedabad'

In [38]:
df4['Location'] = Location

In [39]:
df4

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2017 Maruti Alto 800,LXI Manual,2017 Maruti Alto 800,Manual,"75,118 km",1st Owner,Petrol,"6,900/month","3,10,199",Zero downpayment,Ahmedabad
1,2020 Maruti Alto,LXI Manual,2020 Maruti Alto,Manual,"24,682 km",1st Owner,Petrol,"8,878/month","3,99,099",Zero downpayment,Ahmedabad
2,2020 Maruti Alto,VXI Manual,2020 Maruti Alto,Manual,"10,380 km",1st Owner,Petrol,"9,632/month","4,32,999",Zero downpayment,Ahmedabad
3,2018 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2018 Hyundai Grand i10,Manual,"26,243 km",1st Owner,Petrol,"10,915/month","4,90,699",Zero downpayment,Ahmedabad
4,2016 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,2016 Hyundai Grand i10,Manual,"30,525 km",1st Owner,Petrol,"10,660/month","4,79,199",Zero downpayment,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...,...
380,2020 Ford Ecosport,1.5 TITANIUM PLUS TI VCT AT Automatic,2020 Ford Ecosport,Automatic,"23,511 km",1st Owner,Petrol,"23,314/month","10,48,099",Zero downpayment,Ahmedabad
381,2019 Maruti Baleno,DELTA 1.2 K12 Manual,2019 Maruti Baleno,Manual,"27,003 km",1st Owner,Petrol,"14,915/month","6,70,499",Zero downpayment,Ahmedabad
382,2015 Honda Brio,1.2 S MT I VTEC Manual,2015 Honda Brio,Manual,"75,620 km",1st Owner,Petrol,"7,990/month","3,59,199",Zero downpayment,Ahmedabad
383,2019 Maruti S PRESSO,VXI PLUS Manual,2019 Maruti S PRESSO,Manual,"5,696 km",1st Owner,Petrol,"9,672/month","4,34,799",Zero downpayment,Ahmedabad
384,2018 Maruti Alto 800,VXI Manual,2018 Maruti Alto 800,Manual,"41,873 km",1st Owner,Petrol,"6,902/month","3,10,299",Zero downpayment,Ahmedabad

In [40]:
loc4=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc4.click()

In [41]:
hyderabad=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[7]/span/img")
hyderabad.click()

In [42]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [43]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df5=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [44]:
Location = 'Hyderabad'

In [45]:
df5['Location'] = Location

In [46]:
df5

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2016 Hyundai Elite i20,SPORTZ 1.4 Manual,2016 Hyundai Elite i20,Manual,"51,885 km",1st Owner,Diesel,"15,293/month","6,87,499",Zero downpayment,Hyderabad
1,2014 Maruti Ertiga,ZXI Manual,2014 Maruti Ertiga,Manual,"67,232 km",1st Owner,Petrol,"14,430/month","6,48,699",Zero downpayment,Hyderabad
2,2018 Hyundai Verna,1.6 CRDI SX + AT Automatic,2018 Hyundai Verna,Automatic,"33,367 km",1st Owner,Diesel,"23,799/month","10,69,899",Zero downpayment,Hyderabad
3,2017 Tata Tiago,XZ 1.2 REVOTRON Manual,2017 Tata Tiago,Manual,"28,702 km",2nd Owner,Petrol,"10,722/month","4,81,999",Zero downpayment,Hyderabad
4,2017 Skoda Octavia,Style 1.4 TSI MT Manual,2017 Skoda Octavia,Manual,"47,264 km",1st Owner,Petrol,"28,760/month","12,92,899",Zero downpayment,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...
120,2019 Maruti Eeco,5 STR WITH AC PLUSHTR Manual,2019 Maruti Eeco,Manual,"9,338 km",2nd Owner,Petrol,"10,310/month","4,63,499",Zero downpayment,Hyderabad
121,2012 Hyundai i10,ERA 1.1 IRDE Manual,2012 Hyundai i10,Manual,"45,064 km",3rd Owner,Petrol,"7,432/month","3,34,099",Zero downpayment,Hyderabad
122,2014 Honda Brio,1.2 S MT I VTEC Manual,2014 Honda Brio,Manual,"57,533 km",2nd Owner,Petrol,"8,682/month","3,90,299",Zero downpayment,Hyderabad
123,2018 Maruti Alto 800,LXI Manual,2018 Maruti Alto 800,Manual,"13,488 km",1st Owner,Petrol,"7,490/month","3,36,699",Zero downpayment,Hyderabad
124,2012 Maruti Swift Dzire,VDI BS IV Manual,2012 Maruti Swift Dzire,Manual,"1,21,755 km",1st Owner,Diesel,"10,246/month","4,60,599",Zero downpayment,Hyderabad

In [47]:
loc5=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc5.click()

In [48]:
chennai=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[8]/span/img")
chennai.click()

In [49]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [50]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df6=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [51]:
Location = 'Chennai'

In [52]:
df6['Location'] = Location

In [53]:
df6

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2016 Renault Kwid,RXT Opt Manual,2016 Renault Kwid,Manual,"51,188 km",1st Owner,Petrol,"7,559/month","3,39,799",Zero downpayment,Chennai
1,2016 Mahindra TUV300,T8 Manual,2016 Mahindra TUV300,Manual,"51,127 km",1st Owner,Diesel,"15,656/month","7,03,799",Zero downpayment,Chennai
2,2016 Mahindra TUV300,T8 Manual,2016 Mahindra TUV300,Manual,"88,533 km",1st Owner,Diesel,"15,963/month","7,17,599",Zero downpayment,Chennai
3,2014 Hyundai Verna,FLUIDIC 1.6 SX VTVT OPT Manual,2014 Hyundai Verna,Manual,"60,444 km",2nd Owner,Petrol,"13,353/month","6,00,299",Zero downpayment,Chennai
4,2013 Maruti Alto 800,LXI Manual,2013 Maruti Alto 800,Manual,"58,509 km",1st Owner,Petrol,"5,770/month","2,59,399",Zero downpayment,Chennai
...,...,...,...,...,...,...,...,...,...,...,...
673,2019 Maruti Swift,LXI Manual,2019 Maruti Swift,Manual,"10,178 km",1st Owner,Petrol,"13,109/month","5,89,299",Zero downpayment,Chennai
674,2019 Renault Kwid,RXT 1.0 EASY-R AT OPTION Automatic,2019 Renault Kwid,Automatic,"15,725 km",1st Owner,Petrol,"10,938/month","4,91,699",Zero downpayment,Chennai
675,2017 Maruti Celerio,ZXI Manual,2017 Maruti Celerio,Manual,"51,902 km",1st Owner,Petrol,"9,801/month","4,40,599",Zero downpayment,Chennai
676,2019 Maruti Celerio,VXI (O) AMT Automatic,2019 Maruti Celerio,Automatic,"5,817 km",2nd Owner,Petrol,"12,573/month","5,65,199",Zero downpayment,Chennai
677,2016 Maruti Wagon R 1.0,VXI OPT Manual,2016 Maruti Wagon R 1.0,Manual,"49,299 km",1st Owner,Petrol,"9,754/month","4,38,499",Zero downpayment,Chennai

In [54]:
loc6=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc6.click()

In [55]:
kolkata=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[9]/span/img")
kolkata.click()

In [56]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [57]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df7=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [58]:
Location = 'Kolkata'

In [59]:
df7['Location'] = Location

In [60]:
df7

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2015 Hyundai Verna,FLUIDIC 1.6 SX CRDI Manual,2015 Hyundai Verna,Manual,"47,025 km",2nd Owner,Diesel,"12,081/month","5,43,099",Zero downpayment,Kolkata
1,2013 Maruti Wagon R 1.0,VXI Manual,2013 Maruti Wagon R 1.0,Manual,"52,240 km",1st Owner,Petrol,"6,304/month","2,83,399",Zero downpayment,Kolkata
2,2013 Renault Duster,RXZ DIESEL 110 Manual,2013 Renault Duster,Manual,"51,522 km",1st Owner,Diesel,"9,879/month","4,44,099",Zero downpayment,Kolkata
3,2014 Maruti Ertiga,ZXI Manual,2014 Maruti Ertiga,Manual,"12,904 km",1st Owner,Petrol,"13,104/month","5,89,099",Zero downpayment,Kolkata
4,2013 Audi A4,2.0 TDI 174BHP PRM PLUS Automatic,2013 Audi A4,Automatic,"55,798 km",2nd Owner,Diesel,"26,627/month","11,96,999",Zero downpayment,Kolkata
...,...,...,...,...,...,...,...,...,...,...,...
271,2019 Maruti Alto 800,LXI Manual,2019 Maruti Alto 800,Manual,"7,646 km",1st Owner,Petrol,"7,532/month","3,38,599",Zero downpayment,Kolkata
272,2017 Maruti Alto 800,VXI Manual,2017 Maruti Alto 800,Manual,"16,909 km",1st Owner,Petrol,"6,458/month","2,90,299",Zero downpayment,Kolkata
273,2015 Mahindra Scorpio,S10 Manual,2015 Mahindra Scorpio,Manual,"53,662 km",2nd Owner,Diesel,"20,138/month","9,05,299",Zero downpayment,Kolkata
274,2019 Maruti Alto 800,VXI Manual,2019 Maruti Alto 800,Manual,"5,017 km",1st Owner,Petrol,"7,236/month","3,25,299",Zero downpayment,Kolkata
275,2013 Maruti Alto 800,LXI Manual,2013 Maruti Alto 800,Manual,"3,904 km",1st Owner,Petrol,"5,330/month","2,39,599",Zero downpayment,Kolkata

In [61]:
loc7=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc7.click()

In [62]:
gurgaon=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[3]/span/img")
gurgaon.click()

In [63]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [65]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df8=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [66]:
Location = 'Gurgaon'

In [67]:
df8['Location'] = Location

In [68]:
df8

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2015 Maruti Ertiga,ZDI Manual,2015 Maruti Ertiga,Manual,"52,870 km",1st Owner,Diesel,"13,923/month","6,25,899",Zero downpayment,Gurgaon
1,2013 Toyota Fortuner,3.0 MT 4X2 Manual,2013 Toyota Fortuner,Manual,"1,17,460 km",2nd Owner,Diesel,"27,439/month","12,33,499",Zero downpayment,Gurgaon
2,2017 Ford Ecosport,1.5TITANIUM TDCI Manual,2017 Ford Ecosport,Manual,"50,477 km",2nd Owner,Diesel,"13,333/month","5,99,399",Zero downpayment,Gurgaon
3,2013 Maruti Wagon R 1.0,LXI Manual,2013 Maruti Wagon R 1.0,Manual,"1,51,452 km",1st Owner,Petrol,"5,216/month","2,34,499",Zero downpayment,Gurgaon
4,2016 Maruti Vitara Brezza,ZDI Manual,2016 Maruti Vitara Brezza,Manual,"54,460 km",1st Owner,Diesel,"15,224/month","6,84,399",Zero downpayment,Gurgaon
...,...,...,...,...,...,...,...,...,...,...,...
775,2015 Hyundai Verna,FLUIDIC 1.6 CRDI S (o),2015 Hyundai Verna,,"78,499 km",2nd Owner,Diesel,"13,004/month","5,84,599",Zero downpayment,Gurgaon
776,2012 Volkswagen Polo,HIGHLINE1.2L PETROL Manual,2012 Volkswagen Polo,Manual,"1,26,101 km",1st Owner,Petrol,"7,708/month","3,46,499",Zero downpayment,Gurgaon
777,2017 Maruti Alto 800,LXI Manual,2017 Maruti Alto 800,Manual,"54,041 km",1st Owner,Petrol,"6,291/month","2,82,799",Zero downpayment,Gurgaon
778,2019 Tata Tiago,XZ 1.2 REVOTRON Manual,2019 Tata Tiago,Manual,"38,846 km",1st Owner,Petrol,"10,797/month","4,85,399",Zero downpayment,Gurgaon
779,2017 Renault Kwid,1.0 RXT Opt Manual,2017 Renault Kwid,Manual,"19,609 km",1st Owner,Petrol,"7,848/month","3,52,799",Zero downpayment,Gurgaon

In [69]:
loc8=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc8.click()

In [70]:
noida=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[2]/span/img")
noida.click()

In [71]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [73]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df9=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [74]:
Location = 'Noida'

In [75]:
df9['Location'] = Location

In [76]:
df9

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2013 Maruti Swift Dzire,LDI BS IV Manual,2013 Maruti Swift Dzire,Manual,"1,30,588 km",1st Owner,Diesel,"6,807/month","3,05,999",Zero downpayment,Noida
1,2013 Maruti Ritz,VDI Manual,2013 Maruti Ritz,Manual,"55,532 km",1st Owner,Diesel,"5,955/month","2,67,699",Zero downpayment,Noida
2,2012 Maruti Alto K10,VXI Manual,2012 Maruti Alto K10,Manual,"72,766 km",2nd Owner,Petrol,"5,136/month","2,30,899",Zero downpayment,Noida
3,2017 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,2017 Hyundai Grand i10,Manual,"34,178 km",1st Owner,Petrol,"11,616/month","5,22,199",Zero downpayment,Noida
4,2019 Ford Ecosport,1.5TITANIUM TDCI Manual,2019 Ford Ecosport,Manual,"10,715 km",1st Owner,Diesel,"20,087/month","9,02,999",Zero downpayment,Noida
...,...,...,...,...,...,...,...,...,...,...,...
783,2013 Toyota Innova,2.5 GX 7 STR BS IV Manual,2013 Toyota Innova,Manual,"63,967 km",1st Owner,Diesel,"14,666/month","6,59,299",Zero downpayment,Noida
784,2019 Hyundai Elite i20,1.2 MAGNA PLUS VTVT Manual,2019 Hyundai Elite i20,Manual,"25,371 km",1st Owner,Petrol,"14,283/month","6,42,099",Zero downpayment,Noida
785,2020 Ford Ecosport,1.5 AMBIENTE TDCI Manual,2020 Ford Ecosport,Manual,"32,965 km",1st Owner,Diesel,"17,088/month","7,68,199",Zero downpayment,Noida
786,2019 Renault Kwid,RXL Manual,2019 Renault Kwid,Manual,"17,515 km",2nd Owner,Petrol,"7,981/month","3,58,799",Zero downpayment,Noida
787,2018 Maruti Baleno,DELTA 1.2 K12 Manual,2018 Maruti Baleno,Manual,"23,091 km",1st Owner,Petrol,"13,547/month","6,08,999",Zero downpayment,Noida

In [77]:
loc9=driver.find_element_by_xpath("/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p")
loc9.click()

In [78]:
agra=driver.find_element_by_xpath("/html/body/div[1]/div[6]/div/div/div/div[2]/div/div/ul/div[3]/li[2]/span")
agra.click()

In [79]:
for _ in range(1000):
    driver.execute_script("window.scrollBy(0,1000)")

In [80]:
b = []
brand= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in brand:
    b.append(i.text)
y = []
year= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/h2")
for i in year:
    y.append(i.text)
t = []
trans= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[1]/div/p/span")
for i in trans:
    t.append(i.text)    
m = []
model= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div/div/p")
for i in model:
    m.append(i.text)
k = []
kilometers= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[1]")
for i in kilometers:
    k.append(i.text)
o = []
owner= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[2]")
for i in owner:
    o.append(i.text)
f = []
fuel= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/ul/li[3]")
for i in fuel:
    f.append(i.text)
e = []
emi= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[1]/strong")
for i in emi:
    e.append(i.text.replace('₹',''))
p = []
price= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[2]/div[2]/span")
for i in price:
    p.append(i.text.replace('₹',''))
d = []
downpayment= driver.find_elements_by_xpath("/html/body/div[1]/div[2]/div/div[3]/div/div/div/a/div[2]/div[3]/span")
for i in downpayment:
    d.append(i.text)

time.sleep(2)        
#creating dataframe
df10=pd.DataFrame({'Brand':b,'Model':m,'Year Of Purchase':y,'Transmission':t,'Kilometers Drive Till Now':k,'Owner':o,'Feul':f,'EMI':e,'Price Of Car':p,'Downpayment':d})

In [81]:
Location = 'Agra'

In [82]:
df10['Location'] = Location

In [83]:
df10

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2017 Maruti Swift,VXI OPT Manual,2017 Maruti Swift,Manual,"1,30,814 km",1st Owner,Petrol,"11,042/month","4,96,399",Zero downpayment,Agra
1,2017 Nissan Sunny,XE D Manual,2017 Nissan Sunny,Manual,"1,21,004 km",1st Owner,Diesel,"11,449/month","5,14,699",Zero downpayment,Agra
2,2017 Maruti Swift Dzire,ZXI 1.2 BS IV Manual,2017 Maruti Swift Dzire,Manual,"65,284 km",1st Owner,Petrol,"12,272/month","5,51,699",Zero downpayment,Agra
3,2016 Renault Duster,RXL AMT 110 PS Automatic,2016 Renault Duster,Automatic,"1,69,176 km",1st Owner,Diesel,"13,220/month","5,94,299",Zero downpayment,Agra
4,2018 Honda WR-V,1.2 i-VTEC VX MT Manual,2018 Honda WR-V,Manual,"33,714 km",1st Owner,Petrol,"15,504/month","6,96,999",Zero downpayment,Agra
...,...,...,...,...,...,...,...,...,...,...,...
180,2019 Maruti Alto,LXI Manual,2019 Maruti Alto,Manual,"29,782 km",2nd Owner,Petrol,"7,641/month","3,43,499",Zero downpayment,Agra
181,2017 Maruti Alto K10,VXI Manual,2017 Maruti Alto K10,Manual,"50,739 km",1st Owner,Petrol,"7,579/month","3,40,699",Zero downpayment,Agra
182,2017 Maruti Alto K10,VXI Manual,2017 Maruti Alto K10,Manual,"48,513 km",1st Owner,Petrol,"7,808/month","3,50,999",Zero downpayment,Agra
183,2017 Maruti Alto K10,VXI Manual,2017 Maruti Alto K10,Manual,"13,916 km",1st Owner,Petrol,"7,679/month","3,45,199",Zero downpayment,Agra
184,2020 Toyota YARIS,G CVT Automatic,2020 Toyota YARIS,Automatic,"18,604 km",1st Owner,Petrol,"22,015/month","9,89,699",Zero downpayment,Agra

In [84]:
CarPricePrediction=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10])
CarPricePrediction

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,2014 Maruti Alto K10,VXI Manual,2014 Maruti Alto K10,Manual,"40,562 km",1st Owner,Petrol,"6,391/month","2,87,299",Zero downpayment,New Delhi
1,2015 Hyundai Grand i10,MAGNA 1.1 CRDI Manual,2015 Hyundai Grand i10,Manual,"62,491 km",2nd Owner,Diesel,"6,947/month","3,12,299",Zero downpayment,New Delhi
2,2014 Maruti Swift Dzire,VDI BS IV Manual,2014 Maruti Swift Dzire,Manual,"96,978 km",1st Owner,Diesel,"9,263/month","4,16,399",Zero downpayment,New Delhi
3,2015 Maruti Swift,VDI ABS Manual,2015 Maruti Swift,Manual,"44,638 km",1st Owner,Diesel,"9,621/month","4,32,499",Zero downpayment,New Delhi
4,2019 Maruti Alto K10,VXI Manual,2019 Maruti Alto K10,Manual,"10,395 km",1st Owner,Petrol,"9,503/month","4,27,199",Zero downpayment,New Delhi
...,...,...,...,...,...,...,...,...,...,...,...
180,2019 Maruti Alto,LXI Manual,2019 Maruti Alto,Manual,"29,782 km",2nd Owner,Petrol,"7,641/month","3,43,499",Zero downpayment,Agra
181,2017 Maruti Alto K10,VXI Manual,2017 Maruti Alto K10,Manual,"50,739 km",1st Owner,Petrol,"7,579/month","3,40,699",Zero downpayment,Agra
182,2017 Maruti Alto K10,VXI Manual,2017 Maruti Alto K10,Manual,"48,513 km",1st Owner,Petrol,"7,808/month","3,50,999",Zero downpayment,Agra
183,2017 Maruti Alto K10,VXI Manual,2017 Maruti Alto K10,Manual,"13,916 km",1st Owner,Petrol,"7,679/month","3,45,199",Zero downpayment,Agra
184,2020 Toyota YARIS,G CVT Automatic,2020 Toyota YARIS,Automatic,"18,604 km",1st Owner,Petrol,"22,015/month","9,89,699",Zero downpayment,Agra

In [85]:
CarPricePrediction['Year Of Purchase']=CarPricePrediction['Year Of Purchase'].str.extract('(\d+)')

In [86]:
CarPricePrediction['Brand'] = CarPricePrediction['Brand'].str.replace('\d+', '')

In [87]:
CarPricePrediction

,Brand,Model,Year Of Purchase,Transmission,Kilometers Drive Till Now,Owner,Feul,EMI,Price Of Car,Downpayment,Location
0,Maruti Alto K,VXI Manual,2014,Manual,"40,562 km",1st Owner,Petrol,"6,391/month","2,87,299",Zero downpayment,New Delhi
1,Hyundai Grand i,MAGNA 1.1 CRDI Manual,2015,Manual,"62,491 km",2nd Owner,Diesel,"6,947/month","3,12,299",Zero downpayment,New Delhi
2,Maruti Swift Dzire,VDI BS IV Manual,2014,Manual,"96,978 km",1st Owner,Diesel,"9,263/month","4,16,399",Zero downpayment,New Delhi
3,Maruti Swift,VDI ABS Manual,2015,Manual,"44,638 km",1st Owner,Diesel,"9,621/month","4,32,499",Zero downpayment,New Delhi
4,Maruti Alto K,VXI Manual,2019,Manual,"10,395 km",1st Owner,Petrol,"9,503/month","4,27,199",Zero downpayment,New Delhi
...,...,...,...,...,...,...,...,...,...,...,...
180,Maruti Alto,LXI Manual,2019,Manual,"29,782 km",2nd Owner,Petrol,"7,641/month","3,43,499",Zero downpayment,Agra
181,Maruti Alto K,VXI Manual,2017,Manual,"50,739 km",1st Owner,Petrol,"7,579/month","3,40,699",Zero downpayment,Agra
182,Maruti Alto K,VXI Manual,2017,Manual,"48,513 km",1st Owner,Petrol,"7,808/month","3,50,999",Zero downpayment,Agra
183,Maruti Alto K,VXI Manual,2017,Manual,"13,916 km",1st Owner,Petrol,"7,679/month","3,45,199",Zero downpayment,Agra
184,Toyota YARIS,G CVT Automatic,2020,Automatic,"18,604 km",1st Owner,Petrol,"22,015/month","9,89,699",Zero downpayment,Agra

In [88]:
CarPricePrediction.to_excel("CarPricePredictionData.xlsx",sheet_name='CarPricePrediction')

# Thanks...!